<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2>Hello!</h2>
    <p>The following is a code you can input into your browser to reset your password. You can reset your password within 4 hours of recieving this message.</p>

    <h1><%= @the_user.reset_password_token %></h1>
    
  
    <p>Thanks a bunch!</p><br>
      <p>-yaboi</p>
  </body>
</html>