
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Dear, <%= @the_user.first_name %></h1><br>
    <%# <img src = "/assets/welcome_to.jpeg"> %>
    <p>
        Thank you for taking the time to sign up for The Pineapple Express demo site,
        your username is: <%= @the_user.username %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>

</html>