<%= render 'partials/header'%>
<div class = 'flash'>
<h1 class = 'greeting' style = 'background-color: pink; color: white; font-size: 40px'>Hello!</h1>
<p >Thank you for taking the time to view this project of mine. Pineapple Express is a store designed for demo purposes ONLY! It is in no way meant to sell actual products. It is also in no way related to the movie 'Pineapple Express,' or the apparel store, EXPRESS (don't sue me 🥰). It is a store-front designed to simulate the online shopping process whilst also showcasing different CSS and SCSS mechanics. </p>

<h1 class = 'greeting' >Built With:</h1>

<p>Ruby on Rails</p>

<p>HTML</p>

<p>CSS/SCSS</p>


<h1 class = 'greeting'>Creators:</h1>

<p>Me! - Jonathan Brierre 🥳</p>
</div>