// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#sign_up div{
    margin: auto;
    width: 40%;
    text-align: left;
    
}

#sign_up h1{
    text-align: center;
}
#sign_up{
    transform: translate(0%, -50%);
}

#sign_up .submit{
    text-align: center;
}